@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-soft-primary: var(--soft-primary);
  --color-primary: var(--primary);
  --color-hard-primary: var(--hard-primary);
  --color-warning: var(--warning);
  --color-danger: var(--danger);

  --color-gray-9: var(--gray-9);
  --color-gray-8: var(--gray-8);
  --color-gray-7: var(--gray-7);
  --color-gray-6: var(--gray-6);
  --color-gray-5: var(--gray-5);
  --color-gray-4: var(--gray-4);
  --color-gray-3: var(--gray-3);
  --color-gray-2: var(--gray-2);
  --color-gray-1: var(--gray-1);
  --color-gray-05: var(--gray-05);

  --color-green-gray-9: var(--green-gray-9);
  --color-green-gray-8: var(--green-gray-8);
  --color-green-gray-7: var(--green-gray-7);
  --color-green-gray-6: var(--green-gray-6);
  --color-green-gray-5: var(--green-gray-5);
  --color-green-gray-4: var(--green-gray-4);
  --color-green-gray-3: var(--green-gray-3);
  --color-green-gray-2: var(--green-gray-2);
  --color-green-gray-1: var(--green-gray-1);
  --color-green-gray-05: var(--green-gray-05);

  --text-display-1: 72;
  --text-heading-1: 56;
  --text-heading-2: 48;
  --text-heading-3: 40;
  --text-heading-4: 36;
  --text-heading-5: 32;

  --text-xxl: 24;
  --text-xl: 20;
  --text-large: 18;
  --text-medium: 16;
  --text-small: 14;
  --text-tiny: 12;

  /* --shadow-dark-primary: var(--hard-primary); */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);

  --soft-primary: #84d187;
  --primary: #00b207;
  --hard-primary: #2c742f;
  --warning: #ff8a00;
  --danger: #ea4b48;

  --gray-9: #1a1a1a;
  --gray-8: #333333;
  --gray-7: #4D4D4;
  --gray-6: #666666;
  --gray-5: #808080;
  --gray-4: #999999;
  --gray-3: #b3b3b3;
  --gray-2: #cccccc;
  --gray-1: #e5e5e5;
  --gray-05: #f2f2f2;

  --green-gray-9: #002603;
  --green-gray-8: #173b1a;
  --green-gray-7: #2b572e;
  --green-gray-6: #406b42;
  --green-gray-5: #618062;
  --green-gray-4: #7a997c;
  --green-gray-3: #96b297;
  --green-gray-2: #b4ccb4;
  --green-gray-1: #dae5da;
  --green-gray-05: #edf2ee;

  --display-1: 72px;
  --heading-1: 56px;
  --heading-2: 48px;
  --heading-3: 40px;
  --heading-4: 36px;
  --heading-5: 32px;

  --xxl: 24;
  --xl: 20;
  --large: 18;
  --medium: 16;
  --small: 14;
  --tiny: 12;

  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }

  .display-1 {
    @apply text-[72px];
  }

  .heading-1 {
    @apply text-[56px];
  }

  .heading-2 {
    @apply text-[48px];
  }

  .heading-3 {
    @apply text-[40px];
  }

  .heading-4 {
    @apply text-[36px];
  }

  .heading-5 {
    @apply text-[32px];
  }
}
